<!DOCTYPE html>
<html>
    <head>
        <title>Flask sample</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
	body{
	margin-left: 16px;
	background: #BABABA;
	font-family: 'Open Sans Condensed', sans-serif;
	}
	h1, h3, h5, p {
  	    text-align: left;
	}
	</style>
    </head>
    <body>
        <h1>Flask sample with webpage and API</h1>
	<b><h5>Code is available at <a href="https://github.com/krunal3kapadiya/flask-sample">Flask sample</a></h5></b>
        <h3>To know more about my work update visit <a href="https://krunal3kapadiya.app">https://krunal3kapadiya.app</a> </h3>
    </body>
</html>
